<div class="container">

    <div class="word">
        <span>Skills</span>
    </div>

    <p class="info">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nisi voluptates temporibus veniam cumque.
        Quo soluta eius, voluptatum odit harum eos velit vitae, nisi accusamus alias doloremque vero maxime fugit sit.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo ipsum voluptatem nisi id ad quae illum.
        Nostrum unde placeat laboriosam ipsa eveniet necessitatibus debitis nihil dicta libero obcaecati. Odit, minima!
    </p>

    <div class="skills">

        <div class="focus">
            <span>MY FOCUS</span>
            <ul>
                <li>UI/UX Design</li>
                <li>Responsive Design</li>
                <li>Web Design</li>
                <li>Mobile App Design</li>
            </ul>
        </div>

        <div class="languages">
            <div class="languages-inside">
                <label for="s1">HTML</label>
                <progress id="s1" value="32" max="100"> </progress>

                <label for="s2">CSS</label>
                <progress id="s2" value="42" max="100"> </progress>

                <label for="s3">Javascript</label>
                <progress id="s3" value="62" max="100"> </progress>

                <label for="s4">React</label>
                <progress id="s4" value="82" max="100"> </progress>

                <label for="s5">Photoshop</label>
                <progress id="s5" value="22" max="100"> </progress>

                <label for="s6">Adobe XD</label>
                <progress id="s6" value="42" max="100"> </progress>

                <label for="s7">Node js</label>
                <progress id="s7" value="52" max="100"> </progress>

                <label for="s8">WordPress</label>
                <progress id="s8" value="22" max="100"> </progress>
            </div>
        </div>
    </div>


</div>