<div class="about">

    <div class="word">
       <p class="me" >About me</p>
    </div>

    <div class="info">
        <p class="paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam dolore, nulla dolorum a ab vero iusto enim, eum nemo impedit neque commodi veritatis accusantium obcaecati facilis est aut ut suscipit. Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem, veritatis, amet ab obcaecati reprehenderit at ipsa cupiditate veniam quos itaque consequatur officiis tempora nesciunt odit esse saepe exercitationem, alias modi.</p>
        <div>
            <button>Download Resume</button>
        </div>
    </div>


</div>