.register-link{
    color:black;
}
.container{
    margin-top: 150px;
}
.form-container{
    padding: 30px;
    border-radius: 5px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

button{
    width: 100%;
}